<VirtualHost *:80>
    ServerAdmin admin@localhost
    DocumentRoot {{ wp_install_dir }}
<Directory {{ wp_install_dir }}>
        AllowOverride All
        Require all granted
</Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>